.container{ 
 max-width: 100%;
 height: 83px;
 outline: 1px solid rgba(196, 196, 196, 1);
 margin: 12px 9px;
 border-radius: 10px;
 position: relative;
 font-size: 14px;
 text-transform: uppercase;
 text-align: start;
 padding: 12px 18px 0px;
}

.statusPriceCont{ 
 display: flex;
 justify-content: space-between;
}
.contStatusDataList{
 display: flex;
}
.dataList{ 
 font-size: 14px;
 text-transform: capitalize;
 opacity: 1;
 z-index: 100;
 background-color:rgba(229, 229, 229, 1);
 & input{
 border: 3px solid white;
}
 ::placeholder{ 
  text-transform: capitalize;
 }
}

.svgDelete{ 
 position: absolute;
 top: 12px;
 right: 12px;
}

